module_test_z_8_1.json
[
    {
        "entityidfilter": "input_number.setpoint",
        "entityidfiltertype": "exact",
        "exposeToHomeAssistant": false,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "halt_if_compare": "is",
        "halt_if_type": "str",
        "haltifstate": "",
        "id": "027f4267d969e1b8",
        "ignoreCurrentStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignorePrevStateNull": false,
        "ignorePrevStateUnavailable": false,
        "ignorePrevStateUnknown": false,
        "name": "Setpoint",
        "outputProperties": [
            {
                "property": "payload.config.setpoint",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "output_only_on_state_change": false,
        "outputinitially": true,
        "outputs": 1,
        "server": "e2dd69fb.8f70a8",
        "state_type": "num",
        "type": "server-state-changed",
        "version": 3,
        "wires": [
            [
                "b7b85590b7d28ba6"
            ]
        ],
        "x": 420,
        "y": 360,
        "z": "135c4e7649611314"
    },
    {
        "boostTempCool": "2",
        "boostTempHeat": "2",
        "id": "b7b85590b7d28ba6",
        "maxTempAdjustment": "1",
        "minSavings": 0.08,
        "name": "Heat capacitor",
        "setpoint": 23,
        "timeCool1C": 50,
        "timeHeat1C": "70",
        "type": "ps-strategy-heat-capacitor",
        "wires": [
            [
                "2b7cbdef3203a482"
            ],
            [],
            []
        ],
        "x": 600,
        "y": 320,
        "z": "135c4e7649611314"
    },
    {
        "finalize": "",
        "func": "//In case the climate entity can only handle integers\n//Calculate rounded setpoint for the climate entity and return the msg\nmsg.adj_setpoint=Math.round(msg.payload);\nreturn msg\n",
        "id": "2b7cbdef3203a482",
        "initialize": "",
        "libs": [],
        "name": "Adjust setpoint",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "4831f393a0066565"
            ]
        ],
        "x": 800,
        "y": 320,
        "z": "135c4e7649611314"
    },
    {
        "data": "{\"entity_id\":\"climate.my_climate\",\"temperature\":\"{{adj_setpoint}}\"}",
        "dataType": "json",
        "debugenabled": false,
        "entityId": "climate.my_climate",
        "id": "4831f393a0066565",
        "mergecontext": "",
        "mustacheAltTags": false,
        "name": "Set temperature",
        "outputProperties": [],
        "queue": "none",
        "server": "e2dd69fb.8f70a8",
        "service": "set_temperature",
        "service_domain": "climate",
        "type": "api-call-service",
        "version": 3,
        "wires": [
            []
        ],
        "x": 980,
        "y": 320,
        "z": "135c4e7649611314"
    },
    {
        "id": "cf5908a52e0aee5e",
        "name": "Price Receiver",
        "type": "ps-receive-price",
        "wires": [
            [
                "b7b85590b7d28ba6"
            ]
        ],
        "x": 400,
        "y": 320,
        "z": "135c4e7649611314"
    },
    {
        "active": true,
        "apiEndpointRef": "9ea07b03b88cb526",
        "id": "b08bc12bf8734c5a",
        "name": "",
        "type": "tibber-query",
        "wires": [
            [
                "cf5908a52e0aee5e"
            ]
        ],
        "x": 230,
        "y": 320,
        "z": "135c4e7649611314"
    },
    {
        "crontab": "",
        "id": "d0d4dd31efe67e85",
        "name": "",
        "once": true,
        "onceDelay": "1",
        "payload": "{   viewer {     homes {       currentSubscription {         priceInfo {           today {             total             startsAt           }           tomorrow {             total             startsAt           }         }       }     }   } }",
        "payloadType": "str",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "b08bc12bf8734c5a"
            ]
        ],
        "x": 90,
        "y": 320,
        "z": "135c4e7649611314"
    },
    {
        "feedUrl": "wss://api.tibber.com/v1-beta/gql/subscriptions",
        "id": "9ea07b03b88cb526",
        "name": "Tibber",
        "queryUrl": "https://api.tibber.com/v1-beta/gql",
        "type": "tibber-api-endpoint"
    }
]